.card {
    text-transform: uppercase;
    padding: 10px 50px;
    border: 1px solid #ccc;
    padding: 10px 50px;
    margin: 10px;
    font-size: 20px;
    background-color: #ffa;
}

.card a {
    text-decoration: none;
    background-color: rgb(36, 201, 36);
    color: #fff;
    padding: 5px;
    font-size: 14px;
    border: 1px solid #fff;
    border-radius: 0;
    font-weight: bold;
}

.title {
    font-weight: 300;
}
